<ion-view title='PocketHelp'>
  <ion-content has-header='true' has-tabs='true' padding='true'>
    <h4>POCKET HELPERS</h4>
    <div class='list'  ng-repeat='contacts in userData'>
      <div class='item'>
        {{contacts}}
        <span style='float:right;'>{{$index + 1}} of {{contacts.length}} Slots Used</span>
      </div>
    </div>
    {{contacts}}
    <button class='button button-stable' ng-click='getUsers()'>
      Invite to PocketHelp
    </button>
    <h4>ADD CONTACTS</h4>
    <div class='padding'>
      <button class='button button-block button-royal' ng-click='getContacts()' ng-hide='phoneContacts'>
        Get My Contacts
      </button>
      <div class='list' ng-show='phoneContacts' ng-repeat='contact in phoneContacts'>
        <div class='item'>
          {{ contact.name.formatted }}
          <!-- {{isUser(contact)}} -->
          <br><br>
          <button class='button button-stable' ng-click='sendSMS(contact)'>
            Invite to PocketHelp
          </button>
        </div>
      </div>
    </div>
    <br><br>
  </ion-content>
</ion-view>



