<ion-view title='PocketHelp'>
  <ion-content has-header='true' has-tabs='true' padding='true'>
    <h4>POCKET HELPERS</h4>
    <div class='list'  ng-repeat='contacts in userData'>
      <div class='item'>
        {{contacts}}
        <span style='float:right;'>{{$index + 1}} of {{contacts.length}} Slots Used</span>
      </div>
    </div>
<!--     <button class='button button-clear button-royal'>
      Purchase Additional Slots
    </button> -->
    {{contacts}}
    <h4>ADD CONTACTS</h4>
    <div class='padding'>
      <button class='button button-block button-royal' ng-click='getContacts()' ng-hide='phoneContacts'>
        Get My Contacts
      </button>
      <div class='list' ng-show='phoneContacts' ng-repeat='contact in phoneContacts'>
        <div class='item item-button-right'>
          {{ contact.name.formatted }}
          <button class='button button-stable'>Add</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>



